<section>
  <h2>
    register now
  </h2>
  <form [formGroup]="registerForm" (ngSubmit)="handel()">
    <div class="form-item">
      <label for="name">Name:</label>
      <input #inputName formControlName="name" id="name" type="text" class="form-control">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.touched || inputName.value.length > 0)">
        <p class="m-0" *ngIf="registerForm.get('name')?.getError('required')">
          name is required
        </p>
        <p class="m-0" *ngIf="registerForm.get('name')?.getError('minlength')">
          name min length is 3
        </p>
        <p class="m-0" *ngIf="registerForm.get('name')?.getError('maxlength')">
          name max length is 20
        </p>
      </div>
    </div>
    <div class="form-item">
      <label for="email">Email:</label>
      <input #inputEmail formControlName="email" id="email" type="email" class="form-control">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched || inputEmail.value.length > 0)">
        <p class="m-0" *ngIf="registerForm.get('email')?.getError('required')">
          email is required
        </p>
        <p class="m-0" *ngIf="registerForm.get('email')?.getError('email')">
          email is not valid
        </p>
      </div>
    </div>
    <div class="form-item">
      <label for="password">Password:</label>
      <input #inputPassword formControlName="password" id="password" type="password" class="form-control">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched || inputPassword.value.length > 0)">
        <p class="m-0" *ngIf="registerForm.get('password')?.getError('required')">
          password is required
        </p>
        <ul class="m-0" *ngIf="registerForm.get('password')?.getError('pattern')">
          <li>must be</li>
          <li>* Start with a letter (either uppercase or lowercase).</li>
          <li>* Be between 6 and 9 characters in total.</li>
          <li>* Can only contain letters (A-Z or a-z) and numbers (0-9)</li>
        </ul>
      </div>
    </div>
    <div class="form-item">
      <label for="rePassword">Re-password:</label>
      <input #inputrePassword formControlName="rePassword" id="rePassword" type="password" class="form-control">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched || inputrePassword.value.length > 0)">
        <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('required')">
          rePassword is required
        </p>
        <ul class="m-0" *ngIf="registerForm.get('rePassword')?.getError('pattern')">
          <li>must be</li>
          <li>* Start with a letter (either uppercase or lowercase).</li>
          <li>* Be between 6 and 9 characters in total.</li>
          <li>* Can only contain letters (A-Z or a-z) and numbers (0-9)</li>
        </ul>
        <p class="m-0" *ngIf="registerForm.get('rePassword')?.getError('confirmPassword')">
          rePassword must be same as password
        </p>
      </div>
    </div>
    <div class="form-item">
      <label for="phone">Phone:</label>
      <input #inputPhone formControlName="phone" id="phone" type="tel" class="form-control">
      <div class="alert alert-danger"
        *ngIf="registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || inputPhone.value.length > 0)">
        <p class="m-0" *ngIf="registerForm.get('phone')?.getError('required')">
          phone is required
        </p>
        <ul class="m-0" *ngIf="registerForm.get('phone')?.getError('pattern')">
          invalid phone number
        </ul>
      </div>
    </div>
    <button type="submit" class="btn-main ms-auto d-block" [disabled]="registerForm.invalid">
      <span *ngIf="!loading">Register now</span>
      <i *ngIf="loading" class="fas fa-spinner fa-spin"></i>
    </button>
    <p class="alert alert-danger" *ngIf="msgErr">
      {{msgErr}}
    </p>
  </form>
</section>