<section class="bg-main-light rounded-3 p-3 my-2">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Wish List</h1>
  </div>
  <div *ngIf="wishData.data?.length;else emptyOrders">
    <div class="row align-items-center border-bottom py-2" *ngFor="let product of wishData.data">
      <div class="col-md-2">
        <img [src]="product.imageCover" class="w-100" [alt]="product.title">
      </div>
      <div class="col-md-10 d-flex justify-content-between align-items-center">
        <div>
          <h5 class="fw-medium">
            {{product.title}}
          </h5>
          <p>{{product.price | price:'EGP'}}</p>
          <button (click)="deleteItem(product._id)" class="text-danger border-0 bg-transparent p-0">
            <i class="fa-solid fa-trash"></i>
            Remove
          </button>
        </div>
        <div>
          <button (click)="addToCart(product._id)" class="btn btn-outline-success">add to cart</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #emptyOrders>
    <h2 class="py-3 h1">your Wish List is empty</h2>
    <a routerLink="/home" class="btn-main">
      Go To Shopping
    </a>
  </ng-template>
</section>